.cart{
    margin-top: 28px;
    margin-bottom: 18px;
    width: 20%;
    text-align: center;
    color:white;
  }
  

  .cart label{
    position: absolute;
    margin:0px;
    color: white;
    text-decoration: none;
    border-radius: 50%;
    background-color: #a656b1;
    padding: 8px;
    width: 20px;
    height: 20px;
  }
  