.itemCountContainer {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
   
}

.itemCountContainer button{
    padding: 10px;
    font-size: 16px;
    
}


.itemCountContainer label{
    display: inline-block;
    
}

.counter{
    background-color: rgb(190, 161, 205);
    color: white;
    padding: 9px;
    font-weight: bold;
}

.itemCountButton{
    background-color: white;
    border-color: rgb(219, 184, 219);
    border-style: solid;
    padding: 12px;
}



.agregaCarritoContainer button{
    background-color: #a656b1;
    color: whitesmoke;
    margin-left: 30px;
    border-color: #a656b1;
    border-width: thin;
    border-radius: 5px;
    transition: all 0.5s;
}


.agregaCarritoContainer button:hover{
    background-color: #dda7e4;
    color: #7f3d88;
    border-color:#a656b1;
}



.agregaCarritoContainer button:disabled{
    background-color: grey;
    color: white;
    border-color:#a656b1;
}

.stock{
    background-color: whitesmoke;
    color: #7f3d88;
    width: 92%;
    margin: 3em 1em ;
    padding: 10px ;
    border-radius: 5px;

}

.itemCountQuantity{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
